* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

h1, h2, h3 h4 {
    font-family: 'Sometype Mono', monospace;
}

header {
    position: relative;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
}

#af-logo {
    margin: 10% 10%;
    width: 550px;
    height: auto;
    border: 5px solid #017970;
    border-radius: 20px;
    flex-basis: auto;
}

nav {
    margin-top: 4%;
    margin-right:3%;
    top: 8%;
    right:0;
    width: 850px;
    height:20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: rgba(50, 223, 142, 0.825);
    border: 2px solid black;
    flex-basis: auto;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
    font-weight: 10em;
    text-decoration: overline;
}

.nav-link:hover {
    color: white;
}

.search-input {
    font-family: 'Baloo 2', sans-serif;
    font-size: 15px;
    color: #017970;
    font-weight: 50em;
}

#donate-button {

    padding: 15px 25px;
    color: white;
    background-color: #017970;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
    font-weight: 10em;
}

#donate-button:hover {
    background-color: white;
    color: #017970;
    border: 2px solid #017970;
}

#home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.arrow-container {
    position: absolute;
    margin: auto;
    left: 46%;
    top: 85%;
    border: 20px solid transparent;
}

.arrow-container:hover {
    top:84%;
    #nav-arrow {
        color: rgba(50, 223, 142, 0.825);
    }
}

#nav-arrow {
    color: white;
}




