* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Sometype Mono', monospace;
}

a {
    font-family: 'Baloo 2', sans-serif;
    text-decoration: none;
    display: block;
}


header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav-container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* need to add responsive switch to justify center */
}

#af-logo {
    margin: 10% 10%;
    width: 550px;
    height: auto;
    border: 5px solid #017970;
    border-radius: 20px;
    flex-basis: auto;
}

#af-logo:hover {
    border: 5px solid rgba(50, 223, 142, 0.825);
}

nav {
    margin-top: 4%;
    margin-right:3%;
    top: 8%;
    right:0;
    width: 700px;
    height:20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
}

.nav-link {
    color: black;
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
    font-weight: 10em;
    text-decoration: overline;
}

.nav-link:hover {
    color: white;
}

#donate-button {

    padding: 15px 25px;
    color: white;
    background-color: #017970;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
    font-weight: 10em;
}

#donate-button:hover {
    background-color: white;
    color: #017970;
    border: 2px solid #017970;
}

#home-img {
    margin: 0;
    border-bottom: 2vh solid #017970;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.arrow-container, .arrow-2 {
    position: absolute;
    margin: auto;
    left: 46%;
    top: 85%;
    border: 20px solid transparent;
    color: white;
}

.arrow-container:hover {
    color: rgba(50, 223, 142, 0.825);
}

#search-bar {
    position: absolute;
    right:7%;
    bottom: 9%;
    display: flex;
    align-items: center;
}

.search-input {
    font-family: 'Baloo 2', sans-serif;
    font-size: 25px;
    color: #017970;
    font-weight: 10em;
    padding: 4px 10px 2px 10px;
    border: 2px solid #017970;
    border-radius: 5px;
    min-width: 100px;
}

.search-input:focus {
    outline: 2px solid rgba(50, 223, 142);
}

.search-button {
    width: 50px;
    height: 50px;
    margin: -50px;
    color: white;
    background-color: #017970;
    border: 2px solid #017970;
    border-radius: 0px 5px 5px 0px;
}

.search-button:hover{
    color:#017970;
    background-color: rgba(50, 223, 142);
    border: 2px solid #017970;
    border-left: 2px solid #017970;
}















body {
    margin: 0;
    width: 100%;
    border: 1px solid transparent;
    background-color: #293038;
    color: white;
}




















.subnav {
    position: sticky;
    top: 2%;
    left: 1%;
    width: 7%;
    border-radius: 55px;
}

.subnav:hover {
    .subnav-menu {
        position: absolute;
        width: 35vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-radius: 5px;
    }
    #compass {
        border: 4px solid rgba(50, 223, 142);
        color: rgba(50, 223, 142);
    }
}

.subnav-menu {
    display: none;
    background-color: #F4F5EF;
    margin: 0;
}

#compass {
    position: absolute;
    padding: 10px;
    color: #017970;
    background-color: #F4F5EF;
    border-radius: 55px;
    border:2px solid grey;
}

.subnav-link {
    padding: 17px 20px;
    border-bottom: 4px solid #017970;
    font-family: 'Sometype Mono', monospace;
    font-size: 1.2vw;
    font-weight: 200;
    color: #017970;
    text-align: center;
}

.subnav-link:last-of-type {
    border-bottom: none;
}

.subnav-link:hover {
    color:#F4F5EF;
    background-color: #017970;
}

.subnav-link:first-of-type:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.subnav-link:last-of-type:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
















.section, .unit-section {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 5%;
    border-bottom: 4px dashed #1d2228;
}

.section-heading {
    margin: auto;
    text-align: center;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 40px;
    padding: 1% 5%;
}


.unit-heading {
    border: 1px solid black;
    padding: 2% 0 2% 4%;
    font-size: 2vw;
}

.unit-container {
    margin: -3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-unit {
    border: 1px solid black;
    
}

.link-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-unit a {
    color: white;
    padding: 1%;
    font-size: 1.2vw;
}

.sub-unit a:hover {
    color: #017970;
}











#intro-to-mcai, #practice-questions {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 5%;
    background-color: #017970;
    color: #F4F5EF;
}

#practice-questions {
    background-color: rgb(20, 149, 234);
}

.arrow-2 {
    margin-top: 54%;
    margin-left: 0;
}

.arrow-2:hover {
    color: black;
}

















































#reading {
    margin: 0;
    width: 100%;
    height: 75vh;
    padding: 0 5%;
    background-color: #1d2228;
    color: #F4F5EF;
}



.reading-item {
    width: 25%;
    height: 20%;
    border-bottom: 2px dashed #F4F5EF;

}






footer {
    width: 100%;
    height: 25vh;
    padding: 0 4% 2% 4%;
    background-color: #017970;
    color: #F4F5EF;
    font-family: 'Roboto Mono', monospace;
    align-items: baseline;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
}

.f-column1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:100%;
    font-size: 25px;
}

.f-column2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    float: right;
    width: 20%;
    padding: 20px 0 20px 0;
}

.icon-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
}

.icon {
    width: 76px;
    height: 76px;
    display: flex;
    background-color: #1d2228;
    border-radius: 38px;
    align-items: center;
    justify-content: center;
    color: #F4F5EF;
}

.icon:hover {
    color: #1d2228;
    background-color: #F4F5EF;
    border: 4px solid #1d2228;
}













/* responsive design subnav
@media (min-height: 300px) {
    .subnav {
      position: sticky;
      top: 0;
    }
}
*/