* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Sometype Mono', monospace;
}

a {
    font-family: 'Baloo 2', sans-serif;
    text-decoration: none;
}


header {
    position: relative;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#af-logo {
    margin: 10% 10%;
    width: 550px;
    height: auto;
    border: 5px solid #017970;
    border-radius: 20px;
    flex-basis: auto;
}

#af-logo:hover {
    border: 5px solid rgba(50, 223, 142, 0.825);
}

nav {
    margin-top: 4%;
    margin-right:3%;
    top: 8%;
    right:0;
    width: 700px;
    height:20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
}

.nav-link {
    color: black;
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
    font-weight: 10em;
    text-decoration: overline;
}

.nav-link:hover {
    color: white;
}

#donate-button {

    padding: 15px 25px;
    color: white;
    background-color: #017970;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
    font-weight: 10em;
}

#donate-button:hover {
    background-color: white;
    color: #017970;
    border: 2px solid #017970;
}

#home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.arrow-container {
    position: absolute;
    margin: auto;
    left: 46%;
    top: 85%;
    border: 20px solid transparent;
}

#nav-arrow {
    color: white;
}

.arrow-container:hover {
    #nav-arrow {
        color: rgba(50, 223, 142, 0.825);
    }
}

#search-bar {
    position: absolute;
    right:7%;
    bottom: 9%;
    display: flex;
    align-items: center;
}

.search-input {
    font-family: 'Baloo 2', sans-serif;
    font-size: 25px;
    color: #017970;
    font-weight: 10em;
    padding: 4px 10px 2px 10px;
    border: 2px solid #017970;
    border-radius: 5px;
    min-width: 100px;
}

.search-input:focus {
    outline: 2px solid rgba(50, 223, 142);
}

.search-button {
    width: 50px;
    height: 50px;
    margin: -50px;
    color: white;
    background-color: #017970;
    border: 2px solid #017970;
    border-radius: 0px 5px 5px 0px;
}

.search-button:hover{
    color:#017970;
    background-color: rgba(50, 223, 142);
    border: 2px solid #017970;
    border-left: 2px solid #017970;
}


body {
    width: 100%;
    height: 1000vh;
}

#compass {
    position: sticky;
    top: 110vh;
    right: 5%;
    padding: 17px;
    color: #017970;
    background-color: white;
    border: 2px solid white;
    border-radius: 55px;

}


#donate-button:hover {
    background-color: white;
    color: #017970;
    border: 2px solid #017970;
}


.section {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
}

.section-heading {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 40px;
    padding: 1% 5%;
}


#intro-to-mcai {
    background-color: #017970;
    color: #F4F5EF;
}

.arrow-2 {
    position: absolute;
    right: 7%;
    bottom: 5%;
    width: auto;
    border: 20px solid transparent;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.arrow-2:hover {
    #nav-arrow {
        color: black;
    }
}


#reading {
    position: absolute;
    margin: 0;
    top: 900vh;
    width: 100%;
    height: 75vh;
    padding: 0 5%;
    background-color: #1d2228;
    color: #F4F5EF;
}



.reading-item {
    width: 25%;
    height: 20%;
    border-bottom: 2px dashed #F4F5EF;

}




footer {
    position: absolute;
    top: 977vh;
    width: 100%;
    height: 25vh;
    padding: 0 4% 2% 4%;
    background-color: #017970;
    color: #F4F5EF;
    font-family: 'Roboto Mono', monospace;
    align-items: baseline;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
}

.f-column1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:100%;
    font-size: 25px;
}

.f-column2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    float: right;
    width: 20%;
    padding: 20px 0 20px 0;
}

.icon-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
}

.icon {
    width: 76px;
    height: 76px;
    display: flex;
    background-color: #1d2228;
    border-radius: 38px;
    align-items: center;
    justify-content: center;
    color: #F4F5EF;
}

.icon:hover {
    color: #1d2228;
    background-color: #F4F5EF;
    border: 4px solid #1d2228;
}