.unit-section {
    margin: 0;
    width: 100vw;
    padding: 0 5%;
    border: 4px solid black;
    
}

.unit-heading {
    margin: 1%;
    padding: 1% 0 2% 4%;
    text-align: end;
    font-size: 6vw;
}

.unit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid blue;
}

.sub-unit {
    border: 1px solid black;
}

.link-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-unit a {
    padding: 1%;
    font-size: 0.8vw;
}

.sub-unit a:hover {
    color: #017970;
}

#practice-questions {
    background-color: rgb(20, 149, 234);
}